
body {    
    background: #118C4E

}



.overlay {
    width: 100%;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-transition: 0.25s opacity;
    background: -webkit-radial-gradient(rgba(100, 100, 100, 0.5), rgba(100, 100, 100, 0.5) 35%, rgba(0, 0, 0, 0.4));
    bottom: 0;
    display: -webkit-box;
    left: 0;
    padding: 20px;
    padding-bottom: 130px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}








/*#aboutMePanel{
    z-index: 5;
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    margin-top: 25%;
    height: 25%;
    background: #00ff21;
}*/











/*foreground*/
/*#parallax-layer3 {
	z-index: 10;
	position: fixed;
	left: 50%; 
	top: 0;
	width: 1200px;
	margin-left: -600px;
	}*/
	
	/*#layer3-1 {
		position: absolute;
		top: 1300px;
		left: 100px;
        height: 200px;
        width: 200px;
		}*/

/*midground*/
/*#parallax-layer2 {
	 z-index: 4;
    position: absolute;
  width: 100%;
  height: 100%;
}
	#layer2-1 {
		  z-index: 4;
	    position: absolute;
        top: 400%;
	    margin: auto;
        width: 300px;
	    }*/

    /*background*/
/*#parallax-layer1 {
    z-index: 4;
    position: absolute;
  width: 100%;
  height: 100%;
}
    #layer1-1 {
        z-index: 4;
	    position: absolute;
        top: 400%;
	    margin: 50%;
        width: 300px;
	    }*/


 






    /*#content {
    z-index:4;
	padding: 0 10px;
	margin: 0 auto;
	line-height: 1.7;
	}

    #content article {
        width: 350px;
    }

        #aboutMePage{
            z-index: 10;
            position: absolute;   
            margin-top: 2500px;
            margin-left: 10%;
            color: #000000;
        }

        #portfolioPage{
            z-index: 10;
            position: absolute;
            margin-top: 1500px;
            margin-left: 70%;
            color: #000000;

        }

        #blogPage{
            z-index: 10;
            position: absolute;
            margin-top: 500px;
            margin-left: 10%;
            color: #000000;
        }


#bottomPanel {
    z-index: 4;
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    margin-top: 3000px;
    height: 1000px;
    background: linear-gradient(rgba(255, 255, 255,1),
  rgba(0, 0, 0,0));
}



#projectPanel{
    z-index: 5;
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    margin-top: 1000px;
    height: 1000px;
}

#blogPanel{
    z-index: 5;
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    margin-top: 0px;
    height: 1000px;
    
}*/





