body,html {    
    background: #30a443;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#container {
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
}

.overlay {
    width: 100%;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-transition: 0.25s opacity;
    background: -webkit-radial-gradient(rgba(100, 100, 100, 0.5), rgba(100, 100, 100, 0.5) 35%, rgba(0, 0, 0, 0.4));
    bottom: 0;
    display: -webkit-box;
    left: 0;
    padding: 20px;
    padding-bottom: 130px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    overflow: hidden;
}



.greeting h1 {
    z-index: 10000;
    font-size: 11rem;
    position: absolute;
    margin-left: 20%;
    margin-top: 15%;
    color: #a44330;   
}

img {
    z-index: 1000;
    position: fixed;
    max-width: 100%;
    height: auto;
    width: auto;
    margin-left: 30%;
    margin-top: 25%;
    overflow: hidden;
}

.slideContainer {
    left: 0;
    width: 100%;
    position: absolute;
    top: -180px;
    z-index: 10000;
    -webkit-transition: top .8s;
    transition: top .8s;
    -webkit-transition-timing-function: ease-in-out;
    text-align: center;
   
}

.slideContainer:hover {
    top: 0px;
}

#menu {
    padding: 50px 0;
    max-width: 100%;
    border-bottom: solid 10px #000000; 
    background: #000000;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

#menu ul {
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
    width: 100%
}

#menu li {
    float: left;
    padding: 0;
    width: 25%;
    list-style: none;
     
}

#menu li a {
    width: 100px;
    display: block;
    margin:  10px auto;
    padding: 20px 10px;
    border: solid 2px #666;
    color: #666;
    text-decoration: none;
    font-size: 18px;
    border-radius: 3px;
}

#menu li a:hover {
    border: solid 2px #ffffff;
    color: #ffffff;
}

#menu li a:active {
    border: solid 2px #ffffff;
    color: #ffffff;
}

#button {
    margin: 0 auto;
    width: 200px;
    height: 30px;
    border-radius: 0 0 5px 5px;
    background: #000000;
    cursor: pointer;
     box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

#button span {
    position: relative;
    top: 12px;
    left: 50%;
    display: block;
    margin-left: -25px;
    width: 50px;
    height: 5px;
    border-radius: 5px;
    background: #fff;
    box-shadow: inset 1px 1px 2px #ddd;
}

@media screen and (max-width: 660px) {

    #menu {
        padding: 30px 0;
    }

    #menu li {
        width: 100%;
    }

    #menu li a {
         width: 100px;
    display: block;
    margin:  10px auto;
    padding: 20px 10px;
    border: solid 2px #666;
    color: #666;
    text-decoration: none;
    font-size: 18px;
    border-radius: 3px;
    }

    .slideContainer {

    top: -400px;
}

    img {
    position: fixed;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-top: 60%;
    overflow: hidden;
}
    .greeting h1 {
    font-size: 10rem;
    position: absolute;
    text-align: center;
    margin-top: 20%;
    color: #a44330;  
}
}

