body,html {    
    background: #30a443;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;

}

#container {
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
}

.overlay {
	position: fixed;
    width: 100%;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-transition: 0.25s opacity;
    background: -webkit-radial-gradient(rgba(100, 100, 100, 0.5), rgba(100, 100, 100, 0.5) 35%, rgba(0, 0, 0, 0.4));
    bottom: 0;
    display: -webkit-box;
    left: 0;
    padding: 20px;
    padding-bottom: 130px;
    position: fixed;
    right: 0;
    top: 0;
	

}



.slideContainer {
    left: 0;
    width: 100%;
    position: fixed;
    top: -180px;
    z-index: 10000;
    -webkit-transition: top .8s;
    transition: top .8s;
    -webkit-transition-timing-function: ease-in-out;
    text-align: center;
   
}

.slideContainer:hover {
    top: 0px;
}

#menu {
    padding: 50px 0;
    max-width: 100%;
    border-bottom: solid 10px #000000; 
    background: #000000;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

#menu ul {
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
    width: 100%
}

#menu li {
    float: left;
    padding: 0;
    width: 25%;
    list-style: none;
     
}

#menu li a {
    width: 100px;
    display: block;
    margin:  10px auto;
    padding: 20px 10px;
    border: solid 2px #666;
    color: #666;
    text-decoration: none;
    font-size: 18px;
    border-radius: 3px;
}

#menu li a:hover {
    border: solid 2px #ffffff;
    color: #ffffff;
}

#menu li a:active {
    border: solid 2px #ffffff;
    color: #ffffff;
}

#button {
    margin: 0 auto;
    width: 200px;
    height: 30px;
    border-radius: 0 0 5px 5px;
    background: #000000;
    cursor: pointer;
     box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

#button span {
    position: relative;
    top: 12px;
    left: 50%;
    display: block;
    margin-left: -25px;
    width: 50px;
    height: 5px;
    border-radius: 5px;
    background: #fff;
    box-shadow: inset 1px 1px 2px #ddd;
}

.card{
      position: relative;
	  margin: auto;
      width: 700px;
      height: 100%;
      background-color: #ffffff;
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
	  margin-top: 110px;
      margin-bottom: -54px;
	  padding: 10px;
      border-radius: 5px;
	  z-index: 10;
    }
    
    .subject {
      position: relative;
      padding-top: 2rem;
      margin: auto;
      text-align: center;
	  color: #000000;
      z-index: 1;
      font-size: 1.5rem;
    }

    .author {
        position: relative;
        padding-top: 30px;
        text-align: center;
    }

	.post {
		position: relative;
        padding: 30px;
	}
    
.searchContainer {
	right: 0;
	position: fixed;
	height: 40px;
  width: 450px;
  margin-top: -3%;
  border-radius: 5px;

}

.searchbox {
	right: 10%;
	position: absolute;
	margin-top: 0;
  min-width: 40px;
  width: 0%;
  height: 40px;
  float: right;
 
  overflow: hidden;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .25);
  border-radius: 5px;

  
}
.searchbox-input {
	border-radius: 5px;
	
  top: 0;
  right: 0;
  border: 0;
  outline: 0;
  background: #d0d0d0;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0px 55px 0px 20px;
  color: #000000;
  text-decoration: none;
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  font-size: 18px;
  border-radius: 5px;

}
searchbox-input::-webkit-input-placeholder {
  color: #000000;
}

.searchbox-input:-moz-placeholder {
  color: #000000;
}

.searchbox-input::-moz-placeholder {
  color: #000000;
}

.searchbox-input:-ms-input-placeholder {
  color: #000000;
}

.searchbox-icon{
    width: 40px;
  height: 40px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  line-height: 40px;
  cursor: pointer;
  background: #ffffff;
  vertical-align: 50%;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .25);
  border-radius: 5px;

}
.searchbox-submit {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  line-height: 40px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 5px;
  
  

}

.searchbox-open {
	z-index: 1000;
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .25);
	border-radius: 5px;
	
  width: 100%;
}


.pagination{
    width: 50%;
  margin: 110px auto;
  text-align: center;
}

.pagination li{
    margin: 4px;
  position: relative;
  display: inline-block;
  padding: 12px 20px;
  margin-bottom: 0;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  outline: 0;
  text-decoration: none;
  transition: all .1s linear;
  background-color:#a44330;
    box-shadow: 0 8px 11px 0 rgba(0, 0, 0, 0.24);
}
.pagination li:hover {
  background-color: #d33f3f;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.34);
}

@media (max-width: 725px){
body {
        margin: 0px;
    }
  

.card{
    position: relative;
	margin: auto;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
	margin-top: 110px;
    margin-bottom: -54px;
	padding: 10px;
}
.subject {
    position: relative;
    padding-top: .5rem;
    margin: auto;
    text-align: center;
	color: #000000;
    z-index: 1;
    font-size: 1.5rem;
}

.author {
    position: relative;
    padding: 30px;
    text-align: right;
}

.post {
	position: relative;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 30px;
}



.banner h1{
	font-size: 2rem;
    width: 100%;
    position: absolute;
    color: #ffffff;
    margin-top: 30%;
    text-align: center;
}



}


@media screen and (max-width: 660px) {

    #menu {
        padding: 30px 0;
    }

    #menu li {
        width: 100%;
    }

    #menu li a {
         width: 100px;
    display: block;
    margin:  10px auto;
    padding: 20px 10px;
    border: solid 2px #666;
    color: #666;
    text-decoration: none;
    font-size: 18px;
    border-radius: 3px;
    }

    .slideContainer {

    top: -400px;
}

    img {
    position: fixed;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-top: 60%;
    overflow: hidden;
}
    .greeting h1 {
    font-size: 10rem;
    position: absolute;
    text-align: center;
    margin-top: 20%;
    color: #a44330;  
}
}

